body{
    margin: auto;
    max-width: 600px;

    color: white;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}


table{
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 20px;
}